body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow-x: hidden; */
}

.nav-title {
    font-variant: small-caps;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}




#hero-section {
    background-image: url('./images/hammer-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* overflow: hidden; */
}

.hero-details {
    height: 100%;
}

.hero-container {
    max-width: 550px;
    padding: 400px;
    padding: 50px;
    max-height: fit-content;
    background-image: url('./images/curve.svg');
    background-size: cover;
}

.hero-details svg {
    /* fill: #FFFFFF; */
    /* transform: scale(-1, 1) !important; */
}

.hero-container {
    /* background-color: red; */
}

.hero-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    margin: 80px, 0px;
}

.div1 {
    height: 700px;
    /* background-image: url('./images/hammer-2.jpg'); */
    background-size: cover;
}

.divider-1 {
    height: 200px;
    /* background-image: url('./images/wave-haikei.png'); */
}

.hero-buttons a {
    margin: 10px 20px 10px 0px;
}



#about-section {
    background-color: white;
    height: 50vh;
    background-image: url('./images/curve2.svg');
    background-size: cover;
}

.about-header {
    position: relative;
    padding: 50px 0px 0px 50px;
    font-size: 27px;
}

.about-header::before {
    margin-left: 50px;
    content: "";
    width: 5%;
    height: 8px;
    background-color: rgb(52, 56, 52);
    position: absolute;
    bottom: -10px;
    border-radius: 50px;
    left: 0;
}



/* #divider2 {
    height: 700px;
} */



#practice-section {
    background-color: rgb(227,211,188);
}

.practice-header {
    position: relative;
    padding: 50px 0px 0px 50px;
    font-size: 27px;
}

.practice-header::before {
    margin-left: 50px;
    content: "";
    width: 9%;
    height: 8px;
    background-color: rgb(52, 56, 52);
    position: absolute;
    bottom: -10px;
    border-radius: 50px;
    left: 0;
}

.practice-body {
    padding: 50px;
}

.practice-body .field-image img {
    width: 30px;
    padding-top: 20px;
}

.practice-body .field-title {
    /* font-size: 20px; */
    padding-top: 5px;
    color: black;
    font-weight: 700;
}

.practice-body .field-description {
    font-size: 14px;
    padding: 20px 0px;
}

.practice-body .field-button {
    padding: 20px 0px;
}

.practice-body .field-button a {
    margin-right: 50px;
}





#consult-section {
    background-color: white;
    height: 50vh;
    background-image: url('./images/curve2.svg');
    background-size: cover;
}

.consult-header {
    position: relative;
    padding: 50px 0px 0px 50px;
    font-size: 27px;
}

.consult-header::before {
    margin-left: 50px;
    content: "";
    width: 9%;
    height: 8px;
    background-color: rgb(52, 56, 52);
    position: absolute;
    bottom: -10px;
    border-radius: 50px;
    left: 0;
}





footer {
    overflow: hidden;
    font-size: 13px;
    padding: 40px 0px;
}

footer h5 {
    font-variant: small-caps;
    font-size: 17px;
    font-weight: bold;
}

.footer-col {
    padding: 10px 0px;
}

.copyright {
    font-size: 13px;
    text-align: center;
}